<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
        <h2>Bienenido a mi pagina</h2>
        <p>The best place to be</p>
    </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
    Pagina de inicio
</div>

<%- nombre %> <br>
<%- edad %>